<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>APP_API_HASH</key>
	<string>$(APP_API_HASH)</string>
	<key>APP_API_ID</key>
	<string>$(APP_API_ID)</string>
	<key>BASE_DOMAIN</key>
	<string>$(BASE_DOMAIN)</string>
	<key>BUNDLE_URL_SCHEME</key>
	<string>$(BUNDLE_URL_SCHEME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>your_bundle.share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(BUNDLE_URL_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(GOOGLE_URL_SCHEME)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>ENVIRONMENT_NAME</key>
	<string>$(ENVIRONMENT_NAME)</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>GOOGLE_URL_SCHEME</key>
	<string>$(GOOGLE_URL_SCHEME)</string>
	<key>JANUS_API_SECRET</key>
	<string>$(JANUS_API_SECRET)</string>
	<key>JANUS_SOCKET_URL</key>
	<string>$(JANUS_SOCKET_URL)</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>NSUserNotificationBadgeIconName</key>
	<string>AppIcon</string>
	<key>NSUserNotificationSoundName</key>
	<string>default</string>
	<key>NSUserNotificationTypes</key>
	<array>
		<string>alert</string>
		<string>badge</string>
		<string>sound</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Ecall needs notification permissions to alert you about incoming calls and messages.</string>
	<key>SHARE_URL</key>
	<string>$(SHARE_URL)</string>
	<key>SOCKET_BASE_URL</key>
	<string>$(SOCKET_BASE_URL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
		<string>fetch</string>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:$(BASE_DOMAIN)</string>
		<string>applinks:app.$(BASE_DOMAIN)</string>
	</array>
</dict>
</plist>
